@font-face {
    font-family: 'Centuma';
    src: url("../fonts/Centuma.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'CentumaLight';
    src: url("../fonts/Centuma-Light.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'CentumaBold';
    src: url("../fonts/Centuma-Bold.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Centuma;
}

a {
    text-decoration: none;
    color: white;
    font-family: Centuma;
}

h1 {
color: black;
}

h2 {

}

h3 {

}

p {

}

body {
    background-color: #504c4c;
}

nav {
    width: 100%;
    height: 5rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.divLogo {
    width: 20%;
}

.divLogo img {
    width: 70%;
    transition: 0.5s;

}

.divLogo img:hover {
    filter: brightness(0) saturate(100%) invert(87%) sepia(50%) saturate(224%) hue-rotate(158deg) brightness(93%) contrast(88%);
    text-shadow:
    1px 1px 2px black,
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255);
}

.divMenu {
    width: 30%;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu a { 
    color: white;
}

.menu li:hover a{
    color: #b7d9e0;
    text-shadow:
    1px 1px 1px rgb(78, 71, 71),
    0 0 0.5em rgb(255, 255, 255),
    0 0 0.3em rgb(255, 255, 255);
    transition: 0.5s;
}

.menu {
    list-style-type: none;
  }

.menu li {
    display: inline-block;
    position: relative;
    min-height: 5rem;
    align-content: center;
  }

  .submenu {
    display: none;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 4rem;
    left:-1650%;
    background-color: black;
}

.submenu li {
    background-color: black;
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 2.5rem;
}

.submenu a {
    font-size: medium;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        transition: text-decoration-color 300ms;
}

.has-submenu:hover .submenu {
    display: flex;
    justify-content: center;
    width:4000%;
}

.has-submenu:hover .submenu a {
    color: white;
    text-shadow: none;
}

.submenu a:hover {
    text-decoration-color: rgb(255, 255, 255);
}

.menu li ul:hover li a{
    color: white; 
    background-color: transparent; 
    transition: 0.5s;
}


.divSearchCart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    color: white;
}

button {
    all: unset
}

.buttonSearch {
    background-color: transparent;
    padding: 0.5rem;
    color: white;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.buttonSearch:hover {
    color: #b7d9e0;
    text-shadow:
    1px 1px 2px black,
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255);
}

.divSearchCart i {
    transition: 0.5s;
}

.divSearchCart i:hover {
        color: #b7d9e0;
        text-shadow:
        1px 1px 2px black,
        0 0 1em rgb(255, 255, 255),
        0 0 0.2em rgb(255, 255, 255);
}



