@font-face {
    font-family: 'Centuma';
    src: url("../fonts/Centuma.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'CentumaLight';
    src: url("../fonts/Centuma-Light.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'CentumaBold';
    src: url("../fonts/Centuma-Bold.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TangerineR';
    src: url("../fonts/Tangerine-Regular.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TangerineB';
    src: url("../fonts/Tangerine-Bold.ttf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Centuma;
    list-style: none;
    
}



a {
    text-decoration: none;
    color: white;
    font-family: Centuma;
}

h1 {
color: black;
}

/* h2 {

} */

h3 {
    width: 100%;
}

/* p {

} */

/* body {
    background-color: #504c4c;
} */

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 5rem;
    background-color: rgb(41,41,41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.divLogo {
    width: 20%;
    min-width: 6rem;
    padding: 1rem;
}

.divLogo img {
    width: 70%;
    transition: 0.5s;

}

.divLogo img:hover {
    filter: brightness(0) saturate(100%) invert(87%) sepia(50%) saturate(224%) hue-rotate(158deg) brightness(93%) contrast(88%);
    /* text-shadow:
    1px 1px 2px rgb(41, 41, 41),
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255); */
}

.divMenu {
    width: 40%;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu a { 
    color: white;
}

.menu li:hover a{
    color: #b7d9e0;
    /* text-shadow:
    1px 1px 1px rgb(78, 71, 71),
    0 0 0.5em rgb(255, 255, 255),
    0 0 0.3em rgb(255, 255, 255); */
    transition: 0.5s;
}

.menu {
    list-style-type: none;
    font-size: 1rem;
  }

.menu li {
    display: inline-block;
    position: relative;
    min-height: 5rem;
    align-content: center;
  }

  .submenu {
    display: none;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 4rem;
    left:-1640%;
    background-color: rgb(41, 41, 41);
    z-index: 100;
}

.submenu li {
    background-color: rgb(41, 41, 41);
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 2.5rem;
    /* font-size: 0.8rem; */
}

.submenu a {
    font-size: 0.9rem;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        transition: text-decoration-color 300ms;
}

.has-submenu:hover .submenu {
    display: flex;
    justify-content: center;
    width:4100%;
}

.has-submenu:hover .submenu a {
    color: white;
    text-shadow: none;
}

.submenu a:hover {
    text-decoration-color: rgb(255, 255, 255);
}

.menu li ul:hover li a{
    color: white; 
    background-color: transparent; 
    transition: 0.5s;
}


.divSearchCart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    color: white;
    padding: 2.5rem
}

.divSearchCart input {
    min-height: 1.4rem;
    outline: none;
}

button {
    all: unset;
}

.buttonSearch {
    background-color: transparent;
    padding: 0.5rem;
    color: white;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.buttonSearch:hover {
    color: #b7d9e0;
    /* text-shadow:
    1px 1px 2px black,
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255); */
}

.divSearchCart i {
    transition: 0.5s;
}

.divSearchCart i:hover {
        color: #b7d9e0;
        /* text-shadow: 1px 1px 2px black,
        0 0 1em rgb(255, 255, 255),
        0 0 0.2em rgb(255, 255, 255); */
}
 

header {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-height: 30rem;
    width: 100%;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.contenedorSlides {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden; 
}

.slides {
    display: flex; 
    width: 100%; 
    height: 100%;
    animation: slide 40s infinite ease-in-out; 
}

[class^="slide"] {
    flex: 1 0 100%; 
    height: 100%;
    background-size: cover;
    background-position: center;
}
.slide-1 {
    background-image: url(../img/index/slide1.jpg);
    background-position: center;
}
.slide-2 {
    background-image: url(../img/index/slide2.jpg);
    background-position: center;
}
.slide-3 {
    background-image: url(../img/index/3.jpg);
    background-position: center;
}
.slide-4 {
    background-image: url(../img/index/5.jpg);
    background-position: center;
}
.slide-5 {
    background-image: url(../img/index/slide1.jpg);
    background-position: center;
   
}
.slides img {
    width: 100%;
}



@keyframes slide {
    0% { transform: translateX(0); }
    15% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    35% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    55% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    75% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    95% { transform: translateX(-400%); }
    100% { transform: translateX(0); }
}

main {
    display: flex;
    /* min-height: 100rem; */
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

.indexRow {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 80%;
    height: 33rem;

}

.indexRowLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.indexRow article {
    align-items: center;
}

.indexRow p {
    font-family:TangerineB, cursive;
    font-size: 2.5rem;
}


.indexRow img {
    height: auto;
    transform: scale(var(--escala, 1));
    transition: transform 0.7s;
}

.indexRow img:hover {
    --escala: 1.2;
}

.indexRowRight {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.indexRowLeft p {
    text-align: right;
}

.indexRowRight p {
    text-align: left;
}


footer {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer a {
    color: rgb(126, 126, 126)
}

.divFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(41, 41, 41);
}

.divFooter h3 {
    padding-bottom: 0.6rem;
}


.divNews {
    width: 100%;
    min-height: 4rem;
    background-color:#b7d9e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .divNews span {
    font-family: ;
} */

.divNews input {
    display: block;
    min-height: 2.2rem;
    width: 15rem;
    margin: 1.5rem;
    outline: none;

}

.subscribe {
    padding: 0.6rem;
    /* min-height: 2rem; */
    background-color: rgb(41, 41, 41);
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.subscribe:hover {
    background-color: rgb(110, 110, 110);
    color: white;
    /* border: 1px solid rgb(41, 41, 41); */
    cursor: pointer;
}

.divCustomerCare {
    /* width: 30%; */
    box-sizing: 30%;
    min-height: 6rem;
    background-color: rgb(41, 41, 41) ;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(126, 126, 126);
    font-size: 1rem;
}

.divInfo {
    box-sizing: 30%;
    /* width: 30%; */
    min-height: 6rem;
    background-color: rgb(41, 41, 41) ;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(126, 126, 126);
    font-size: 1rem;
}


.divGet {
    box-sizing: 30%;
    /* width: 30%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 6rem;
    background-color: rgb(41, 41, 41) ;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(126, 126, 126);
    font-size: 1rem;
}

.divGet a {
    padding: 0.8rem;
}

.divCopy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 2rem;
    font-size: small;
    background-color:rgb(41, 41, 41);
    color:rgb(126, 126, 126);
}

#menu {display: none;
    position:fixed;
    top: 0rem;
    right:0rem }
.labelBurguer {display: none;
    position:fixed;
        top: 0rem;
        right:0rem }

.burguer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid #081526; */
    border-radius: 5px;
    background-color: rgb(41,41,41);
    width: 3rem;
    height: 3rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
}




        /*  Codigo pagina en tablet   */

@media screen and (max-width:900px)  {
    main {
        width: 100%;
        padding: 0;
    }

    .indexRow {
        width: 100%;
        height: 20rem;
    }

    .indexRow p {
        font-size: 1.6rem;
    }

    .indexRow img {
        width: 80%;
    }

        }

        /*  Codigo pagina en smartphone   */
        
@media only screen and (max-width: 602px) {
    .indexRow {
        flex-direction: column;
        justify-content: center;
    }

    .indexRowLeft,
    .indexRowRight {
        width: 100%;
        padding: 0;
    }

    .divNews {
        display: flex;
        flex-direction: column;
    }

    .divFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .divFooter div {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .divGet a {
        font-size: 3rem;
    }


    /* nav {
        position:static;
    } */
    
    .divMenuNav {
        display: none; /* Menú oculto por defecto */
        position: absolute;
        top: 5rem;
        right: 0;
        width: 100%;
        background-color: rgb(41, 41, 41);
        z-index: 150;
        flex-direction: column;
        align-items: center;
    }

    .labelBurguer {
        display: block; /* Botón hamburguesa visible */
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 200; /* Asegúrate de que esté arriba */
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    }

    #menu {display: none;
            position:fixed;
            top: 0rem;
            right:0rem;
            z-index: 101; 
        }

    .divMenuNav {
        display: none;

        position: absolute;
        top: 5rem;
        right: 0;
        background-color: rgb(41, 41, 41);
        width: 100%;
    }

    /* .divMenuNav ul {width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 5rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(41, 41, 41);
    } */

    .divMenuNav ul li {
        /* background-color: rgb(41, 41, 41);
        min-height: 5rem;
        text-align: center;
        width: 100%; */
        /* border-radius: 0.5rem; */
        border-bottom: 0.12rem solid rgb(255, 255, 255, .3);
    } 

    .divMenuNav ul li a {
        color: white;
    }

    .divSearchCart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-start;
        width: 100%;
        padding: 1rem;

    } 

    .divSearchCart span {
        width: 100%;
    }

    .divLogo {
        display: none;
    }

    #menu:checked ~ .divMenuNav {
        display: flex; 
        flex-direction: column;
    }

      .menu {
        flex-direction: column;
        align-items: center;
    }
    
    .submenu {
        display: flex; 
        flex-direction: column;
        color: white;
        width: 100%;
        background-color: rgb(30, 30, 30);
        margin-top: 0.5rem;
        padding: 0;
    }
    
    .has-submenu > a {
        position: relative;
        display: block;
        padding: 1rem;
    }
    
    .submenu li {
        text-align: center;
        padding: 0.5rem 0;
    }
    
    .submenu a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .submenu a:hover {
        color: #b7d9e0;
    }


    }